#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.userIMG {
  width: 400px;
  height: auto;
  border-radius: 200px;
  filter: drop-shadow(0 0 2em #0cabf5de);
}

.read-the-docs {
  color: #888;
}

.divCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divlistE {
  display: "flex";
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #fff;
}

h3 {
  color: #fff;
}

.gif-background {
  background-image: url('./assets/background.gif');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content{
  position: relative;
  z-index: 1;
}

.linkbutton {
  background-color: #0cabf5de;
  color: #fff;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s;
}
.linkbutton:hover {
  background-color: #222;
  transform: scale(1.05);
}

.linkcontainer {
  display: grid;
  gap: 0.1em;
}

.hobbiesImage {
  border-radius: 8px;
  border: 2px solid #0cabf5de;
}

.hobbiesImage:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

.mtgImage {
  border-radius: 8px;
  border: 2px solid #0cabf5de;
}

.mtgImage:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}